.tab-nav {
  box-sizing: border-box;
  background: #f0f0f0;
  border: #cecece;
  opacity: 0.8;
  width: 100%;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-icon {
  margin-top: 8px;
}

#map-icon:hover {
  background: #d0d0d0;
  cursor: pointer;
}

.tab {
  margin: 5px 10px 5px 10px;
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  font-weight: bold;
  color: #676767;
  border-radius: 3px;
}

.tab:hover {
  color: #00abff;
  cursor: pointer;
}

.tab-highlighted {
  color: #00abff;
  border-bottom: 3px solid #00abff;
}

.map-toggled {
  opacity: 0.5;
}

.tab-container {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;

}

.location-search-bar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding-right: 20px;
}

.location-search-bar input {
  border: none;
  font-size: 1em;
}

#locationField, #controls {
  position: relative;
  width: 400px;
}

#autocomplete {
  position: relative;
  top: 0px;
  left: 0px;
  width: 99%;
}
