#home-page {
  box-sizing: border-box;
}

#home-page > h1 {
  margin-top: 10px;
  margin-left: 40px;
}

/* Navigation ========================================================*/
.home-nav {
  background: black;
  width: 100%;
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.home-nav-left-box {
  margin-left: 10px;
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.home-logo {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 30px;
}

.home-nav-right-box {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.current-user {
  color: white;
  display: flex;
  align-items: center;
  margin: 0 15px 0 5px;
}

.avatar {
  margin: 0 10px 0 0;
  border-radius: 2px;
}

/* Content ===========================================================*/
.home-content-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.discover-map-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
}

.discover-map {
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.discover-suggestion-bar {
  opacity: 0.5;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 9px 25px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 9px 25px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 9px 25px 0px rgba(0,0,0,0.25);
}

.location-item {
  margin-left: 10px;
  margin-right: 10px;
}

.location-item:hover {
  cursor: pointer;
  color: #00abff;
}

.loader {
  position: relative;
}

.loadedContent {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.spinner {
  margin-top: 10vh;
}

.photo-content-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

/*Deprecate*/
.masonry-photo-grid {
  margin: 7px 7px 7px 7px;
  width: 100%;
}

.masonry-photo-item {
  max-width: 400px;
  margin: 3px 3px 3px 3px;
}
