/*this is a child of modal-comment-section*/
.photo-info-container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.photo-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.photo-title-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photo-title-container > span {
  opacity: 0.6;
  font-size: 12px;
}

.photo-description {
  position: relative;
}

.photo-delete-button {
  font-weight: bold;
  text-align: center;
  color: black;;
  float: right;
  display: inline-block;
  margin-top: 20px;
  height: 25px;
  width: 120px;
  position: relative;
}

.photo-delete-button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.photo-delete-button:hover {
  cursor: pointer;
  color: red;
  text-transform: uppercase;
}

.photo-delete-button:hover:after {
  background: red;
  width: 100%;
  left: 0;
}

.photographer-avatar {
  border-radius: 5px;
}

.comment-box {
  height: 100%;
}

.comment-scroll {
  height: 55%;
}

/* This is the container that contains the comment content and author avatar*/
.comment {
  display: flex;
  flex-direction: row;
  aligh-items: flex-start;
  padding: 5px 5px 5px 5px;
  margin-bottom: 2px;
  background-color: #F2F2F2;
  border-radius: 8px;
}

.comment-author > img {
  border-radius: 5px;
  margin-right: 10px;
}

.comment-content > span {
  margin-right: 10px;
  font-weight: bold;
}

.comment-form {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#comment-field {
  width: 90%;
  background-color: #F2F2F2;
  border-radius: 5px;
  margin-bottom: 5px;
}

#comment-submit {
  width: 30%;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #F3F3F3;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
}

#comment-submit:hover {
  cursor: pointer;
}
