.upload-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.geo-tag-map {
  width: 100%;
  height: 300px;
}

.geo-info {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-lat {
  margin-left: 30px;
  width: 35%;
  padding-top: 5px;
}

.img-lng {
  margin-left: 20px;
  width: 35%;
  padding-top: 5px;
}

.submission-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-right: 20px;
  cursor:pointer;
}

.submission-cancel {
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

#cloud-icon {
  cursor: pointer;
}

.cloudinary-upload-group {
  width: 500px;
  display: flex;
  justify-content: flex-start;
}

.cloudinary-link {

}

.submit-errors {
  padding: 20px 20px 20px 20px;
}

/* Materialized input form =========================================== */
.group {
  margin-top: 10px;
  margin-bottom: 20px;
  position:relative;
}

input {
  font-size:18px;
  padding: 10px 10px 10px 10px;
  display:block;
  width: 500px;
  border: none;
  border-bottom:1px solid #757575;
}

input:focus {
  outline:none;
}

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label {
  top: -20px;
  font-size: 14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{
  position:relative;
  display:block;
  width: 520px;
}

.bar:before, .bar:after 	{
  content:'';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width: 500px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/*Submit button=======================================================*/
.upload-submit{
  width: 50%;
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:700ms ease all;
  outline:none;
  border-radius: 5px;
}

.upload-submit:hover{
  background:#fff;
  color:#1AAB8A;
}
