.submit-button{
  background:#2ecc71;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}

.login-header {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  letter-spacing:1px;
  text-align:center;
  margin-bottom: 20px;
}

.login-error {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  letter-spacing: 1px;
  font-size: 14px;
  align-content: center;
}

.user-input-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

input {
	width: 300px;
  margin: 0 auto;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.4);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input:focus {
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,1);
}
